@import "tailwindcss";

@theme {
  --color-background: #f9fafb;
  --color-foreground: #ffffff;
  --color-primary-font: #0b1215;
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}
