@import 'tailwindcss';

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary-font: var(--primary-font);
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

:root {
  --background: #f9fafb;
  --foreground: #ffffff;
  --primary-font: #0b1215;
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

body {
  color: var(--primary-font);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.field-sizing-content {
  field-sizing: content;
}
